*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
    padding: 15px ;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: coral;
    margin: 0px;
    font-size: 20px ;
    font-family:'Segoe UI';
    list-style-type: none;
    color:red ;
    background-size: auto;
    background-image:url(../picture/cooking-banner-7166200_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover  ;
   height: 100px;
    width: auto;
}
header>li{
    font-size: 15px;
    padding: 20px;

}
nav{
    width: auto;
    height: auto;
    background-color: brown;
    padding: 10px;
}
nav>a{
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 9px;
}
nav>a:hover{
background-color: rgb(60, 220, 20);
}
body{
    margin: 0;
    padding: 0;
}
.side{
    margin-top: 120px;
    position: absolute;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 75px;
  }
  .line{
    width: 15px;
    height: 3px;
    background-color: burlywood;
    margin-bottom: 3px;
  }
  .close{
    position: absolute;
    cursor: pointer;
  }

body>article{
    background-color: lightblue;
    background-image: url('../picture/bg2.PNG');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover  ;
width:auto;
height:100%;
}
footer{
  font-family: 'poppin',sans-serif;
  box-sizing: border-box;
  background: linear-gradient(to right,rgb(1, 1, 38),rgb(87, 2, 93));
  bottom:0%;
  width: 100%;
  height: auto;
  float: right;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;

}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self: space-between;  
}
.col{
  flex-basis: 20%;
  padding: 10px;
}
.col:nth-child(2).col:nth-child(3){
  flex-basis: 15%;
}
.picline{

  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

}
form .far{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fas{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
.social-icons .fa-solid{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@media(max-width: 700px){
  footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2).col:nth-child(3){
    flex-basis: 100%;
  }
}
.imgrand{
    height: 200px;
    width: 250px;
}
.title{
    color: crimson;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.rand{
  background-color: black;
  width: 100px;
  height: 100px;
   margin: 20px 0px 50px 0px;
   cursor: pointer;
}
.tableproduct{
    font-size: large;
    background-color: aliceblue;
    width:70%;
    height: auto;
    position: relative;
    
}
.foodpicture{
    height: 70px;
    width: 120px;
}
.left-sidebar{
    position: fixed;
    background-color: brown;
  top: 0;
  left: 0;
  z-index: 1;
    width: 20%;
    height: 100%;
    padding-top: 40px;
    left: -20%;
    transition: left .1s;
  }
  .left-sidebar-item:first-child{
    margin-top: 0px;
  }
  .left-sidebar--open{
    left: 0;
  }
  .sidebar-menu{
    width: auto;
    text-align: center;
    padding: 20px 20px;
    color: white;
  }
  .sidebar-menu:hover{
    border-right: 2px solid yellow;
    color: yellow;
  }
  
  .sidebar-menu>span>a{
    font-size: 13px;
    line-height: 1.5;
    color: white;
  }
  .sidebar-menu>span>a:hover{
    color: yellow;
  
  }
  .modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-page {
    min-width: 30vw;
    max-width: 60w;
    height: 35vw;
    overflow: scroll;
    background:white;
    border-radius: 15px;
    padding: 20px;
  }
  .modalimgrand{
    width: 200;
    height: 150px;
  }
  .btn-close{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    color: black;
    margin-left: 10px;
  }
  .btn-rand{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    background: linear-gradient(125deg, #1be65b, #109c3c);
    color: #fff;
    margin-left: 10px; 
  }
  .btn-cook{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    background: linear-gradient(125deg, #1b51e6, #20109c);
    color: #fff;
    margin-left: 10px;
  }
  .btn-shop{
    float: right;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    background: linear-gradient(125deg, #e61b36, #9c1032);
    margin-left: 10px;
  } 